@charset 'utf-8';

/*
 * Estilos de la pantalla de login.
 *
 */

 .login{
 	background: $rojo;

 	#login{

 		h1{
      a{
 				background-image: url('../img/logo.png');
 				background-size: 259px 150px;
 				height: 150px;
 				width: 259px;
 			}
 		}
    
 	}

 	#nav, #backtoblog{
 		a{
 			color: $amarillo;
 		}
 	}

 	.button{}

 }
