@charset 'utf-8';

/*
 * Variables a utilizar.
 *
 */

$fuentes_serif: Georgia, serif;
$fuentes_sans_serif: 'Raleway', Helvetica, Arial, sans-serif;
$blanco: #f1f1f1;
$gris: #eee;
$verde: #76BD1D;
$azul: #243297;
$rojo: #EC1C24;
$amarillo: #F2D400;
$negro: #333333;
